default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: <%%= ENV['DB_USER'] %>
  password: <%%= ENV['DB_PASS'] %>
  pool: 5

development:
  <<: *default
  database: <%= app_name %>_development

test:
  <<: *default
  database: <%= app_name %>_test

