defaults: &defaults
  encoding: unicode
  adapter: postgresql
  host: <%%= ENV['DATABASE_HOST'] %>
  username: <%%= ENV['DATABASE_USER'] %>
  password: <%%= ENV['DATABASE_PASSWORD'] %>
  database: <%%= ENV['DATABASE_NAME'] %>
  pool: <%= ENV["DB_POOL"] || ENV['MAX_THREADS'] || 5 %>

production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults
