shared_context 'with a running app' do
  let(:app) { <%= app_name.classify %>::Application.instance }
end

shared_context 'with token authorization' do
  before(:each) do
    permitted_token = ENV['PERMITTED_TOKENS'].dup.gsub!(/[\[\]]/,'').split(/\s*,\s*/).first if ENV['PERMITTED_TOKENS']
    header 'Http-Authorization', permitted_token
  end
end
